[user]
  name = Eric Cohen
  email = eirc.eirc@gmail.com
[core]
  editor = vim
  excludesfile = ~/.gitignore_global
[alias]
  rb = rebase
  sh = stash
  st = status -sb
  ci = commit
  cm = commit -m
  br = branch
  co = checkout
  df = diff
  wdf = diff --word-diff
  fa = fetch --all
  ri = rebase --interactive --autosquash
  fr = !git stash && git ri $1 && git stash pop && git reset
  fixup = !sh -c 'git commit -m \"fixup! $(git log -1 --format='\\''%s'\\'' $@)\"' -
  squash = !sh -c 'git commit -m \"squash! $(git log -1 --format='\\''%s'\\'' $@)\"' -
  who = shortlog -s --
  whois = !sh -c 'git log -i -1 --pretty=\"format:%an <%ae>\n\" --author=\"$1\"' -
  whatis = show -s --pretty='tformat:%h (%s, %ad)' --date=short
  ignored = ls-files --others -i --exclude-standard
  lg = log --graph --oneline --decorate --topo-order --all
[diff]
  tool = vimdiff
[difftool]
  prompt = false
[branch]
  autosetuprebase = always
  mergeoptions = --no-ff
[merge]
  ff = false
[color]
  ui = true
[log]
  decorate = short
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
