[user]
  name = Eric Cohen
  email = eirc.eirc@gmail.com
[core]
  editor = vim
  excludesfile = ~/.gitignore_global
  autocrlf = input
  safecrlf = true
[alias]
  rb = rebase
  sh = stash
  sta = stash
  st = status
  ci = commit
  br = branch
  co = checkout
  df = diff
  fa = fetch --all
  ri = rebase --interactive --autosquash
  lg = log -p
  fixup = !sh -c 'git commit -m \"fixup! $(git log -1 --format='\\''%s'\\'' $@)\"' -
  squash = !sh -c 'git commit -m \"squash! $(git log -1 --format='\\''%s'\\'' $@)\"' -
  who = shortlog -s --
  whois = !sh -c 'git log -i -1 --pretty=\"format:%an <%ae>\n\" --author=\"$1\"' -
  whatis = show -s --pretty='tformat:%h (%s, %ad)' --date=short
  ignored = ls-files --others -i --exclude-standard
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[diff]
  tool = vimdiff
[difftool]
  prompt = false
[branch "master"]
	mergeoptions = --no-ff
[color]
  ui = true
