# ignore everything
*
# except:
!.gitignore
!.bash_profile
!.bashrc
!.gitconfig
!.git-pager
!.gitignore_global
!.git-completion.bash
!.rake-completion.bash
!.vagrant-completion.bash
!.vimrc
!.gemrc
!.irbrc
!.README.md
!.subversion
!.subversion/config
!.railsrc
!.gnupg
!.gnupg/gpg.conf
!.tm_properties
!.tmux.conf

