[user]
  name = Eric Cohen
  email = eirc.eirc@gmail.com
[core]
  editor = vim
  excludesfile = ~/.gitignore_global
  pager = `~/.git-pager`/diff-highlight | less
[alias]
  r = rebase --interactive --autosquash
  sh = stash
  co = checkout
  fa = fetch --all
  lg = log --graph --oneline --decorate --topo-order --all
[diff]
  tool = Kaleidoscope
[difftool]
  prompt = false
[branch]
  autosetuprebase = always
  mergeoptions = --no-ff
[rebase]
  autostash = true
[merge]
  ff = false
  tool = Kaleidoscope
[mergetool]
  prompt = false
[color]
  ui = true
[log]
  decorate = short
[difftool "sourcetree"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
  path = 
[mergetool "sourcetree"]
  cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true
[difftool "Kaleidoscope"]
  cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[mergetool "Kaleidoscope"]
  cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
  trustExitCode = true
[push]
  default = simple
[credential]
  helper = osxkeychain
